/* .graphArea{
   width: 500px;
}

@media (max-width: 995px) {
   .graphArea{
       width: 500px;
   }
}

@media (max-width:500px) {
   .graphArea{
      width: 300px;
   }
} */

.graphAreaDonut{
   width: 500px;
}

@media (max-width:500px) {
   .graphAreaDonut{
      width: 300px;
      margin: auto;
      display: flex;
   }
}