/* .graphArea{
    width: 500px;
    height: 500px;
}

.graphArea canvas {
    width: 400px !important;
    height: 400px !important;
} */

.graphAreaBarHorizontal{
    width: 500px;
}

@media (max-width: 500px) {
    .graphAreaBarHorizontal{
        width: 300px;
    } 
}