.paginaDashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.part1{
    display: flex;
    gap: 50px;
}
.part2{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

@media (max-width: 1024px){
    .paginaDashboard{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .part1, .part2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}