.historicoContainer{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 10px;
}
.historicoTitle{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;  
}
.historicoContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
    flex-wrap: wrap;
}

.historicoCard{
    border: 1px solid #ececec;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
}

.historicoCampanha{
    font-size: 1.1rem;
    font-weight: 700;
}

.historicoValor{
    font-weight: 500;
}

.historicoStatus{
    width: 150px;
}

.historicoUpload{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historicoContent img{
    cursor: pointer;
    
}
