.titulo{
    font-size: 18px;
    color: #666666;
}

.somaValor{
    position: absolute;
    z-index: 9999;
    font-weight: 700;
    font-size: 25px;
    transform: translateY(10px);
    color: #2ecc71;
}

